.carousel-control-prev-icon, .carousel-control-next-icon {
    height: 30px;
    width: 30px;
    outline: black;
    background-color: rgba(0, 0, 0, 0.3);
    background-size: 30%, 30%;
    border-radius: 50%;
    border: 1px solid black;
}


.chart_section {
    margin-right: 0 px;
}

.content {
    padding-top: 50px;
    padding-bottom: 80px;
    overflow: hidden;
}

.selected {
    opacity: 50%;

}

.temp-button:hover {
    transform: scale(1.1);
}

.humidity-button:hover {
    transform: scale(1.1);
}

.wind-button:hover {
    transform: scale(1.1);
}

.cloudiness-button:hover {
    transform: scale(1.1);
}

.cloudiness-compare:hover {
    transform: scale(1.1);

}

.humidity-compare:hover {
    transform: scale(1.1);

}

.temp-compare:hover {
    transform: scale(1.1);

}

.wind-compare:hover {
    transform: scale(1.1);

}